<%= @user.name %>, <%= @user.email %>
<%puts @user.courses%>
<% if current_user.role == "Teacher" %>
  <p>teacher profile</p>
  <table>
    <tr>
      <th>Class name</th>
    </tr>

  <tbody>
    <% @user.courses.each do |sub| %>
      <tr>
        <td>test</td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<% if current_user.role == "Student" %>
  <p>student profile</p>
  <table>
    <tr>
      <th>Class name</th>
    </tr>

  <tbody>
    <% @user.subscriptions.each do |sub| %>
      <tr>
        <td><%= sub.course.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
  <p> GPA </p>
  <%= @user.getGPA %>
<% end %>
<% if current_user.role == "Admin" %>
  <p>admin profile</p>
<% end %>